

<br> <br> <br> 

<div class="text-center">


    <img src="https://lh5.googleusercontent.com/OfGr_EjDUvDv40LZratASLOq778jDCz6aS2ynkpF90yaiiGqgwwLGIHFnBd-X00tDRm9pYnxfiIwj4OO7DfqGXZBkjOIJqrHl51V_rL98YxGxhnCL2e556Pv8MZAag=w500">

    <br> <br> 
    <br> <br> 
    <br>
        Avec la période actuelle, et les changements climatiques qui se produisent, il était important dans le cadre de notre projet, <br>
    de se concentrer sur des enjeux permettant une meilleure optimisation des ressources disponibles : <br>
    <br>
    En effet, à titre de comparaison : pour 1kg de nourriture produite, cela nécessitera 10kg de végétaux consommés contre 2kg consommés pour obtenir 1 kg d'insecte. <br>
    <br>
    Une autre statistique intéressante est le taux de pollution responsable des émissions carbone est de 25% en raison des fermes à bovin intensive <br>
    (D'après <a href="https://www.greenpeace.fr/elevage/">https://www.greenpeace.fr</a>: 25% de protoxyde d’azote (N20) lié aux engrais utilisés sur les cultures destinées à l’alimentation animale et lié au lisier/fumier.),  <br>

    <br>
    
    <img src="https://lh6.googleusercontent.com/aQfrMUW49vxCA09wY25Ge-b2TaBsg6NhnyXquTLqeV5EyfHZKZrVMXa47BKMmh23IqH5jWTVzB6I3f7JseWcLpbRn9WJmh0w71BySwZymnp9S8V6JfIR4IHWZ9pglA=w500">

    <br> 

    Pour entrer un peu plus dans les détails, on débute par l’élevage des insectes (on se concentre d’abord sur les vers de farine et si l’entreprise fonctionne, <br>
    on s’élargit sur d’autres insectes comme les grillons). Nous allons les nourrir en récupérant des invendus de marché ou auprès des agriculteurs. <br>
    Ils se reproduiront grâce à des «boîtes» empilées. Une fois que nous avons des larves d’environ six semaines, elles seront réparties en deux clans : <br>
    une petite partie est laissée pour continuer la reproduction et une grande partie pour la transformation en farine. Pour cette dernière, on commence par mettre <br>
    les larves en étuve afin de les dessécher puis on va les broyer pour obtenir de la farine. Enfin, les déjections de nos insectes seront par la suite utilisées comme <br>
    engrais que nous donneront aux agriculteurs (auxquels nous récupérons les invendus). Cela permet d’effectuer des échanges d'aliments (non consommables par l'Homme mais par les insectes) <br>
    et rentrer dans une lutte anti-gaspillage. La farine est ensuite utilisée pour réaliser les gâteaux apéritifs de type gressins.<br>

    <br> <br>

</div>
