<!-- Section: Team v.1 -->
<section style="margin: 40px;" class="team-section text-center my-5">

    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5">Notre équipe</h2>
    <!-- Section description -->
    <p class="grey-text w-responsive mx-auto mb-5">  Nous avons choisi d’être une Entreprise Unipersonnelle à Responsabilité Limitée (EURL). <br>
        Le capital est fixé librement par l’actionnaire principal, Basile PAINTEAUX dans notre cas. Il est considéré comme «travailleur non salarié». <br>
        Nous sommes bien évidemment une Très Petite Entreprise (TPE) pour l’instant. Nous suivons la forme de structure fonctionnelle simple au stade de développement soleil. <br>
        En effet elle se base sur le Président Directeur Général Basile PAINTEAUX. Il doit faire en sorte du bon fonctionnement de l’entreprise, de la bonne entente entre les employés, <br>
        gère les comptes, fait des bilans sur la production, gère les stocks, assiste aux rendez-vous (fournisseurs, banques…). <br>
        Les autres acteurs sont des collaborateurs compétents dans différentes domaines. Nous sommes donc une équipe dynamique et avec beaucoup d’envie. <br>
        Nos forces de vente sont la communication entre nous et envers nos consommateurs et la parité Hommes/Femmes qui permet de nous compléter. Nous sommes une entreprise proche de nos clients. <br>
        Le PDG organise des journées d’intégration et de cohésion de groupe pour faciliter les relations entre chacun. Nous avons donc : <br>

        <br> <br>
        </p>
  
    <!-- Grid row -->
    <div class="row">
  
      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <!-- Picture-->
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Chloé CHEVALIER</h5>
        <p class="text-uppercase blue-text"><strong>Responsable Qualité</strong></p>
        <p class="grey-text"> Elle suit la production des gâteaux salés et de la farine : Analyses physico-chimiques (Aw, microbiologiques, emballage, étiquetage, DLUO…) , suivi HACCP</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <!-- Picture-->
        </div>
        <h5 class="font-weight-bold mt-4 mb-3"> Clara LEGUET</h5>
        <p class="text-uppercase blue-text"><strong>Chargée de clientèle - Marketing</strong></p>
        <p class="grey-text">Elle réalise la communication tout autour de notre entreprise : stand en épicerie, partage sur les réseaux sociaux, publicités, affiches, évènements privés…</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
  

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <!-- Picture-->
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Kourosh MOUSSAVI</h5>
        <p class="text-uppercase blue-text"><strong>Responsable Production</strong></p>
        <p class="grey-text">Kourosh veille au bon fonctionnement de toute la production. Il faut surveiller le développement des insectes (élevage), la production de la farine ainsi que la production des gâteaux salés.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->


      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <!-- Picture-->
        </div>
        <h5 class="font-weight-bold mt-4 mb-3">Paul THOMAS</h5>
        <p class="text-uppercase blue-text"><strong>Responsable Production</strong></p>
        <p class="grey-text">Paul veille également au bon fonctionnement de toute la production. Ainsi, de même il réalisera : surveillance du développement des insectes, la production de la farine et des gâteaux salés.</p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->


       <!-- Grid column -->
       <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
        <div class="avatar mx-auto">
          <!-- Picture-->
        </div>
        <h5 class="font-weight-bold mt-4 mb-3"> Kourosh Niky</h5>
        <p class="text-uppercase blue-text"><strong>Membre</strong></p>
        <p class="grey-text"> A participer à l'élaboration du projet, notamment dans la conception des idées, s'occupait d'un algorithme cohérent pour renvoyer les quantités idéales pour déterminer les quantités nécessaires à ajouter ou retirer pour obtenir un produit fini optimal. </p>
        <ul class="list-unstyled mb-0">
          <!-- Facebook -->
          <a class="p-2 fa-lg fb-ic">
            <i class="fab fa-facebook-f blue-text"> </i>
          </a>
          <!-- Twitter -->
          <a class="p-2 fa-lg tw-ic">
            <i class="fab fa-twitter blue-text"> </i>
          </a>
          <!-- Instagram -->
          <a class="p-2 fa-lg ins-ic">
            <i class="fab fa-instagram blue-text"> </i>
          </a>
        </ul>
      </div>
      <!-- Grid column -->
    
    
      <!-- Grid column -->
           <div class="col-lg-3 col-md-6 mb-lg-0 mb-5">
            <div class="avatar mx-auto">
              <!-- Picture-->
            </div>
            <h5 class="font-weight-bold mt-4 mb-3">Jacques de Puysegur</h5>
            <p class="text-uppercase blue-text"><strong> Membre - web design</strong></p>
            <p class="grey-text"> A participé à l'élaboration du projet, s'est également occupé d'une partie de l'aspect numerique du projet. </p>
            <ul class="list-unstyled mb-0">
              <!-- Facebook -->
              <a class="p-2 fa-lg fb-ic">
                <i class="fab fa-facebook-f blue-text"> </i>
              </a>
              <!-- Twitter -->
              <a class="p-2 fa-lg tw-ic">
                <i class="fab fa-twitter blue-text"> </i>
              </a>
              <!-- Instagram -->
              <a class="p-2 fa-lg ins-ic">
                <i class="fab fa-instagram blue-text"> </i>
              </a>
            </ul>
          </div>
          <!-- Grid column -->
  
    </div>
    <!-- Grid row -->
  
  </section>
  <!-- Section: Team v.1 -->